annotated-types
anyio
asttokens 
blinker
certifi
charset-normalizer
click
comm 
contourpy
cycler
debugpy 
decorator 
distro
dotenv
exceptiongroup 
executing 
Flask
fonttools
fugashi[unidic]
h11
httpcore
httpx
idna
importlib_metadata 
ipykernel 
ipython 
ipython_pygments_lexers 
itsdangerous
jedi 
Jinja2
jiter
jsonpatch
jsonpointer
jupyter_client 
jupyter_core 
kiwisolver
langchain
langchain-core
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
MarkupSafe
matplotlib
matplotlib-inline 
nest_asyncio 
numpy
openai
orjson
ormsgpack
packaging 
pandas
parso 
pexpect 
pickleshare 
pillow
plac
platformdirs 
prompt_toolkit 
psutil 
psycopg2
ptyprocess 
pure_eval 
pydantic
pydantic_core
Pygments 
pyparsing
python-dateutil 
python-dotenv
pytz
PyYAML
pyzmq 
rank-bm25
regex
requests
requests-toolbelt
setuptools
six 
sniffio
stack_data 
tenacity
tiktoken
tornado 
tqdm
traitlets 
typing-inspection
typing_extensions 
tzdata
unidic
urllib3
wasabi
wcwidth 
Werkzeug
wheel
xxhash
zipp 
zstandard
Gunicorn
git+https://${GITHUB_TOKEN}@github.com/y24m007Y/QiitaSearch.git
