absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types 
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens 
async-lru
async-timeout
attrs
babel
beautifulsoup4
bleach
blinker
blis 
Bottleneck 
breadability
Brotli 
catalogue 
cbor
cbor2
certifi 
cffi 
chardet
charset-normalizer 
click 
cloudpathlib 
colorama 
comm 
confection 
contourpy 
cramjam
cycler 
cymem 
datasets
debugpy
decorator 
defusedxml
demoji 
dill
diskcache
distro
docopt
emoji
en-core-web-sm 
exceptiongroup 
executing 
fastjsonschema
fastparquet
filelock 
Flask
Flask-SQLAlchemy
fonttools 
fqdn
frozenlist
fsspec 
fugashi
gensim
git-filter-repo
gmpy2 
google
greenlet
grpcio
h11
h2 
hpack
httpcore
httpx
httpx-ws
huggingface
huggingface-hub
hyperframe 
idna 
ijson
inquirerpy
inscriptis
ipadic
ipykernel
ipython
ipywidgets 
ir_datasets
isoduration
itsdangerous
ja-core-news-sm 
japanize-matplotlib
jedi 
Jinja2 
jiter
joblib 
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets 
kiwisolver 
langchain
langchain-core
langchain-text-splitters
langcodes 
langsmith
language_data 
llama_cpp_python
llvmlite
lmstudio
lxml
lz4
marisa-trie 
Markdown
markdown-it-py 
MarkupSafe 
matplotlib
matplotlib-inline 
mdurl 
mecab-python3
mistune
mkl-service
mkl_fft 
mkl_random 
mojimoji
mpmath 
msgspec
multidict
multiprocess
murmurhash 
nbclient
nbconvert
nbformat
nest-asyncio
networkx 
nltk
notebook
notebook_shim
numba
numexpr 
numpy 
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
ollama
openai
orjson
overrides
packaging 
pandas 
pandocfilters
parso 
pathlib2post1
pexpect 
pfzy
pickleshare 
pillow 
plac
platformdirs
ply
preshed 
prometheus_client
prompt_toolkit 
propcache
protobuf
psutil
psycopg2-binary
ptyprocess 
pure_eval 
pyarrow
pycountry
pycparser 
pydantic 
pydantic_core 
Pygments 
pyparsing 
PyQt5
PyQt5-sip 
PySocks 
python-dateutil 
python-dotenv
python-json-logger
pytz 
PyYAML
pyzmq
rank-bm25
ranx
referencing
regex
requests 
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich 
rpds-py
safetensors
scikit-learn 
scipy 
seaborn
Send2Trash
sentence-transformers
shellingham 
sip 
six 
smart_open 
sniffio
soupsieve
spacy 
spacy-legacy 
spacy-loggers 
SQLAlchemy
srsly 
stack-data 
SudachiDict-core==20241021
SudachiPy
sumy
sympy 
tabulate
tenacity
tensorboard
tensorboard-data-server
terminado
thinc 
threadpoolctl 
tiktoken
tinycss2
tinysegmenter
tokenizers
tomli 
torch
torchdata
torchtext
tornado 
tqdm
traitlets 
transformers
trec-car-tools
triton
typer
typer-slim
types-python-dateutil
typing_extensions
tzdata 
unicodedata2 
unidic
unidic-lite
unlzw3
uri-template
urllib3 
uWSGI
warc3-wet
warc3-wet-clueweb09
wasabi
wcwidth 
weasel 
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension 
wordcloud
wrapt 
wsproto
xxhash
yarl
zlib-state
zstandard
