
absl-py                   
accelerate                
aiohappyeyeballs          
aiohttp                   
aiosignal                 
annotated-types           
anyio                     
argon-cffi               
argon-cffi-bindings      
arrow                     
asttokens                 
async-lru                 
async-timeout             
attrs                     
babel                     
beautifulsoup            
bleach                    
blinker                   
blis                      
Bottleneck                
breadability              
Brotli                    
catalogue                 
cbor                      
cbor                     
certifi                   
cffi                      
chardet                   
charset-normalizer        
click                     
cloudpathlib              
colorama                  
comm                      
confection                
contourpy                 
cramjam                   
cycler                    
cymem                     
datasets                  
debugpy                   
decorator                 
defusedxml                
demoji                    
dill                      
diskcache                 
distro                    
docopt                    
emoji                     
en-core-web-sm            
exceptiongroup            
executing                 
fastjsonschema            
fastparquet               
filelock                  
Flask                     
Flask-SQLAlchemy          
fonttools                 
fqdn                      
frozenlist                
fsspec                    
fugashi                   
gensim                    
git-filter-repo           
gmpy                     
google                    
greenlet                  
grpcio                    
h                       
h                        
hpack                     
httpcore                  
httpx                     
httpx-ws                  
huggingface               
huggingface-hub           
hyperframe                
idna                      
ijson                     
inquirerpy                
inscriptis                
ipadic                    
ipykernel                 
ipython                   
ipywidgets                
ir_datasets               
isoduration               
itsdangerous              
ja-core-news-sm           
japanize-matplotlib       
jedi                      
Jinja                    
jiter                     
joblib                    
json                     
jsonpatch                 
jsonpointer               
jsonschema                
jsonschema-specifications 
jupyter                   
jupyter_client            
jupyter-console           
jupyter_core              
jupyter-events            
jupyter-lsp               
jupyter_server            
jupyter_server_terminals  
jupyterlab                
jupyterlab_pygments       
jupyterlab_server         
jupyterlab_widgets        
kiwisolver                
langchain                 
langchain-core            
langchain-text-splitters  
langcodes                 
langsmith                 
language_data             
llama_cpp_python          
llvmlite                  
lmstudio                  
lxml                      
lz                       
marisa-trie               
Markdown                  
markdown-it-py            
MarkupSafe                
matplotlib                
matplotlib-inline         
mdurl                     
mecab-python             
mistune                   
mkl_fft                   
mkl_random                
mkl-service               
mojimoji                  
mpmath                    
msgspec                   
multidict                 
multiprocess              
murmurhash                
nbclient                  
nbconvert                 
nbformat                  
nest-asyncio              
networkx                  
nltk                      
notebook                  
notebook_shim             
numba                     
numexpr                   
numpy                     
nvidia-cublas-cu        
nvidia-cuda-cupti-cu    
nvidia-cuda-nvrtc-cu    
nvidia-cuda-runtime-cu  
nvidia-cudnn-cu         
nvidia-cufft-cu         
nvidia-curand-cu        
nvidia-cusolver-cu      
nvidia-cusparse-cu      
nvidia-nccl-cu          
nvidia-nvjitlink-cu     
nvidia-nvtx-cu          
ollama                    
openai                    
orjson                    
overrides                 
packaging                 
pandas                    
pandocfilters             
parso                     
pathlib                  
pexpect                   
pfzy                      
pickleshare               
pillow                    
pip                       
plac                      
platformdirs              
ply                       
preshed                   
prometheus_client         
prompt_toolkit            
propcache                 
protobuf                  
psutil                    
ptyprocess                
pure_eval                 
pyarrow                   
pycountry                 
pycparser                 
pydantic                  
pydantic_core             
Pygments                  
pyparsing                 
PyQt                     
PyQt-sip                 
PySocks                   
python-dateutil           
python-dotenv             
python-json-logger        
pytz                      
PyYAML                    
pyzmq                     
rank-bm                 
ranx                      
referencing               
regex                     
requests                  
requests-toolbelt         
rfc-validator         
rfc-validator         
rich                      
rpds-py                   
safetensors               
scikit-learn              
scipy                     
seaborn                   
SendTrash                
sentence-transformers     
setuptools                
shellingham               
sip                       
six                       
smart_open                
sniffio                   
soupsieve                 
spacy                     
spacy-legacy              
spacy-loggers             
SQLAlchemy                
srsly                     
stack-data                
SudachiDict-core          
SudachiPy                 
sumy                      
sympy                     
tabulate                  
tenacity                  
tensorboard               
tensorboard-data-server   
terminado                 
thinc                     
threadpoolctl             
tiktoken                  
tinycss                  
tinysegmenter             
tokenizers                
tomli                     
torch                     
torchdata                 
torchtext                 
tornado                   
tqdm                      
traitlets                 
transformers              
trec-car-tools            
triton                    
typer                     
typer-slim                
types-python-dateutil     
typing_extensions         
tzdata                    
unicodedata              
unidic                    
unidic-lite               
unlzw                    
uri-template              
urllib                   
uWSGI                     
warc-wet                 
warc-wet-clueweb       
wasabi                    
wcwidth                   
weasel                    
webcolors                 
webencodings              
websocket-client          
Werkzeug                  
wheel                     
widgetsnbextension        
wordcloud                 
wrapt                     
wsproto                   
xxhash                    
yarl                      
zlib-state                
zstandard                 
