
/* チェックボックスを隠す */
input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
  display:none
}

/* ラベルのデザイン */
.checkbox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 6px 12px;
  font-size: 16px;
  color: #6fa24a;
  border: 2px solid #6fa24a;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

/* ホバー時 */
.checkbox-label:hover {
  background-color: #f1f1f4;
}

/* チェックされたとき */
input[type="checkbox"]:checked + .checkbox-label {
  background-color: #6fa24a;
  color: white;
}

.container-fruid {
    width: 60%
}

.radio-label {
  display: inline-flex;
  align-items:center;
  justify-content: center;
  margin: 5px;
  padding: 6px 12px;
  font-size:16px;
  color: orange;
  border: 0.1mm solid orange;
  cursor:pointer;
  transition:background-color 0.2s, color 0.2s;
}

.radio-label:hover {
  background-color: #f1f1f4;
}

input[type="radio"]:checked + .radio-label {
  background-color: orange;
  color:white
}

.cy {
            width: 100%;
            height: 600px;
            border: 1px solid #aaa;
        }

.tag:input[type="radio"] {
  display: none;
}

.article_heading {
  font: size 10px;
  font-family: 'Courier New', Courier, monospace;
}


