{% extends "layout.html" %}
{% block content %}
        <h2>単語や文章を使って文書の検索ができます</h2>
        <form action="/search_page" method="post">
                <input name="query">
                <button type="submit">検索</button>
                <details>
                <summary>検索オプション</summary>
                        <fieldset>
                            <legend>検索タグ設定</legend>
                            <p>サンプル</p>
                            {% for tag in tags %}    
                            <label class="checkbox-label">
                                <input type="checkbox" name="tag" value="{{tag}}" id="tag" class="tags">
                                {{ tag }}
                            </label>
                            {% endfor %}
                            <p id="option-tags"></p>
                        </fieldset>
                        <fieldset>
                            <legend>検索方式</legend>
                            <div>
                                <input type="radio" id="arg0" name="argoritm" checked value="0" >
                                <label for="arg0">キーワード検索</label>
                                <input type="radio" id="arg1" name="argoritm" value="1">
                                <label for="arg1">意味検索</label>
                                <input type="radio" id="arg2" name="argoritm" value="2">
                                <label for="arg2">キーワード+意味検索</label>
                            </div>
                        </fieldset>
                </details>
        </form>
        <script src="{{ url_for('static', filename='javasctipt/sample.js') }}"></script>
{% endblock %}